#wrapper {
    width: 1200px;
    margin: 0px auto;
    height: auto;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* ----------------Phần HEADER----------- */

#header {
    width: 100%;
   margin-left: auto;
    margin-right: auto;
}

#header .banner {
    background-color: black;
}
.banner img {
    height: 40px;
    margin-top: 20px;
    margin-left: 90px;
    cursor: pointer;
}

.banner form {
    margin-left: 170px;
    line-height: 60px;
    padding-top: 8px;
}

.banner input {
    width: 550px;
    height: 40px;
    position: relative;
    padding-left: 14px;
    border: none;
    border-radius: 5px;
}

.banner .fa-search {
    color: white;
    background-color: orange;
    padding: 10px 26px;
    font-size: 16px;
    position: absolute;
    /* float: right; */
    margin-left: 1054px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.fa-search:hover {
    color: #e3e3e3;
}

.fa-user {
    color: white;
    margin-top: 6px;
}

.login {
    border-bottom: 1px solid #4e4b4b;
}

.sub-login {
    height: 40px;
    margin-bottom: 4px;
    display: flex;
}
.sub-banner form{
    margin-left: 344px;
}
.fa-phone-alt{
margin-left: 10px;
}
/*.fa-user{
    display: flex;
    margin-left: 900px;
}*/
.menu-login {
    padding: 2px 4px;
    background-color: white;
    margin-left: -55    px;
    margin-top: -17px;
    padding-bottom: 5px;
    position: absolute;
    display: none;
    border-radius: 5px;
}

.menu-login li {
    text-decoration: none;
    background-color: #e3e3e3;
    text-align: center;
    position: relative;
}

.menu-login li a {
    color: black;
    padding: 4px 50px;
    font-weight: bold;
}

.menu-login li:first-child {
    background-color: coral;
    margin-bottom: 5px;
    margin-top: 2px;
}

.menu-login li:first-child a {
    color: white;
}

.login li:hover .menu-login {
    display: block;
}

.menu-login li:last-child:hover a {
    color: black;
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-right: 8px;
}

.login a:hover,
.login a:hover .fa-user {
    color: tomato;
    text-decoration: none;
}

.sub-banner {
    display: flex;
}

.fa-shopping-cart {
    color: white;
    margin-left: 900px;
    font-size: 25px;
    margin-top: 5px;
}
#header .sp {
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 60%;
    background-color: orange;
    text-align: center;
    line-height: 18px;
    margin-top: 5px;
}
.title-cart {
    color: #ffdada;
    margin-top: 15px;
    font-size: 12px;
}
/* ==========> Phần MENU <============ */
nav{
    width: 100%;
    background: rgb(117, 115, 114);
    min-height: 44px;
}
ul{
    list-style: none;
}
nav ul{
    
    text-transform: uppercase;
}
.list-menu{
    display: flex;
    margin-left: 100px;
}
.list-menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 450;
}
.list-menu ul{
    position: absolute;
    left: 0;
}
.list-menu li{
    line-height: 1.5rem;
    position: relative;
    text-align: left;
    padding: 15px 10px;
    padding-top: none;
    margin-right: 20px;
}
.list-menu li:hover a{
    cursor: pointer;
    color:black;
}
.sub-menu{
    margin-left: -40px;
    width: 300px;
    display: none;
    margin-top: 15.5px;
    background: white;
}
.sub-menu li a{
    color: black;
}
.dmsp .sub-menu{
    margin-top: 15.5px;
    width: 400px;
    text-align: left;
}

.sub-menu li{
    border-bottom: 1.5px solid #e3e3e3;
}
.sub-menu li:hover a{
    font-weight: bold;
}
.banner2 {
    margin-left: 30px;
}

.slider img {
    width: 100%;
    margin-top: 2px;
}

.form-login {
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e3e3e3;
    margin-top: 30px;
}


/* =====> CONTENT<=-======== */

#content #box-head {
    display: flex;
    margin-top: 30px;
    
}
#content .slogan h2{
    margin-top: 30px;
    text-align: center;
}
#content p{
    text-align: center;
}
#content .head-img {
    margin-right: 50px;
    overflow: hidden;
    position: relative;
}
#content .head-img p{
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}
#content .head-img a{
    color: #716c6c;
}
#content .head-img a:hover{
    color: tomato;
    text-decoration: none;
}
#content img {
    transition: all 0.5s;
}
#content .container-img .img1 {
    margin-bottom: 30px;
}

.img2 {
    overflow: hidden;
    position: relative;
}

.head-img:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 50%;
}

.img2:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 50%;
}

.title-body img {
    width: 290px;
}

.title-body {
    margin-top: 30px;
}

.fab {
    color: rgba(219, 83, 20, 0.808);
}

.title-body h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: 500px;
    margin-bottom: 20px;
}

.list-product {
    display: flex;
    padding-left: 0;
    margin-left: 0px;
}

.hot-deal {
    margin-bottom: 100px;
    border: 2px solid #e3e3e3;
    padding: 3px;
    background-color: whitesmoke;
}

.list-product li:first-child {
    margin-left: 0;
}

.list-product li {
    width: 290px;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
}

.buy-now {
    text-align: center;
    position: absolute;
    display: block;
    width: 290px;
    background-color: black;
    color: white;
    padding: 8px 0;
}

.buy-now:hover {
    text-decoration: none;
    color: orange;
}

.list-product li:hover .buy-now {
    bottom: 90px;
    transition: 1.5s;
    transform: rotate(1deg);
}

.list-product li img {
    transition: none;
    width: 300px; 
    height: 180px;
}

.hot-deal .list-product li:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 50%;
    transform: rotate(2deg);
}

span.sl {
    display: block;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 12px;
    opacity: 80%;
}
/* BOX_PRODUCT */

.box-head p {
    padding: 8px 16px;
    background-color: black;
    color: white;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.box-head {
    height: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.box-body {
    margin-bottom: 100px;
}
.box-body strong{
    margin-left: 140px;
}
.box-body .list-product a img{
    width: 250px; 
    height: 256px;
 
}
/*=====tin tức========*/
.container .row h2{
    text-align: center;
}
/* =============> FOOTER <================ */

.footer {
    background-color: rgb(116, 114, 114);
    width: 100%;
}
.footer .footer-main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer .footer-main-img {
    width: 458px;
    height: 537px;
}

.footer .footer-list {
    width: 600px;
}

.footer .footer-list__title {
    color: var(--white);
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.footer .footer-address {
    list-style-type: none;
}

.footer .footer-icon {
    width: 32px;
    color: #ccc;
}

.footer .footer-address__items {
    margin-bottom: 25px;
}

.footer .footer-address__items-none {
    color: #b7b7b7;
}

.footer .footer-address__items-link {
    text-decoration: none;
    color: #b7b7b7;
}

.footer .footer-address__items-link:hover {
    color: #e7b45a;
    transition: 0.4s;
}

.footer .footer-info__icon {
    margin-top: 10px;
    margin-right: 19px;
    color: #b7b7b7;
    font-size: 20px;
    cursor: pointer;
    
}

.footer .footer-info__icon:hover {
    color: var(--yellow);
}

.footer .footer-desc {
    margin-top: 48px;
    color: var(--white);
    line-height: 1.6;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}


.footer .footer-desc::before {
    content: "";
    display: block;
    width: 200%;
    top: -20px;
    border: 1px solid rgb(235 235 235 / 16%);
    position: absolute;
}

.footer .copyright {
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    color: white;
    margin: auto;
    padding: 40px 0;
}

.footer .copyright-main {
    color: #b7b7b7;
    font-size: 15px;
}

.footer .copyright-2 {
    display: block;
}

.footer .copyright-main__color, .footer .copyright-main__name {
    color: var(--yellow);
}

.footer .top-link {
    text-decoration: none;
    color: #b7b7b7;
}

.footer .top-link:hover {
    color: var(--yellow);
}

.footer .top-icon {
    background: var(--yellow);
    padding: 4px 6px;
    font-size: 14px;
    border-radius: 50%;
    margin: 0 8px;
    color: white;
}





